<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team5.grocerygeniusmockup">

    <!-- To allow internet access for Firebase functionality. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To allow permission to check the network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".GroceryGeniusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team5.grocerygeniusmockup.UI.LoginActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".UI.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.LoginActivity" />
        </activity>
        <activity
            android:name=".UI.QuizActivities.Quiz1Activity"
            android:label="@string/title_activity_quiz1"
            android:parentActivityName=".UI.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.LoginActivity" />
        </activity>
        <activity
            android:name=".UI.QuizActivities.Quiz2Activity"
            android:label="@string/title_activity_quiz_2"
            android:parentActivityName=".UI.QuizActivities.Quiz1Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.QuizActivities.Quiz1Activity" />
        </activity>
        <activity
            android:name=".UI.QuizActivities.Quiz3Activity"
            android:label="@string/title_activity_quiz3"
            android:parentActivityName=".UI.QuizActivities.Quiz2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team5.grocerygeniusmockup.UI.QuizActivities.Quiz2Activity" />
        </activity>

        <activity
            android:name=".UI.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="896a41c1c4d47780ecb869a4e9c725a4d693b6b2" />

    </application>

</manifest>
